 
html {
    height: 100%;
}

body {
    height: 100%;

}


.navbar-light .navbar-toggler{
    border-color: none !important;
}


.bg-primary{
    background-color: #95b1b0!important;
}
.bg-secondayry{
    background-color: #47425f!important;
}

.btn-primary{
background-color: #47425f!important;
}