.login-container{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100%;

     .btn-login{
        background: 	#4d4763;
    }

    .bg-login-card{
        background: #ffcb76;

    }
}